<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>Upload Resume.</h3>
        <form class="md-form">
          <div class="file-field">
            <a class="btn-floating peach-gradient mt-0 float-left">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <input type="file" (change)="selectFile($event)">
            </a>
            <a class="btn-floating peach-gradient mt-0 float-left">
              <button class="btn btn-primary mb-2 " [disabled]="!selectedFiles" (click)="upload()">Upload</button>
            </a>

          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">

        <h3>Use Exsisting.</h3>

        <div>
        <ul class="list-group">
          <li class="list-group-item active">CV1</li>
          <li class="list-group-item">Cv2</li>

        </ul>
        </div>
        <div>
        <a class="btn-floating peach-gradient mt-0 float-left">
            <button class="btn btn-primary mb-2 "  (click)="applyForJob()">Apply</button>
          </a>
        </div>
        <div>
            <a class="btn btn-success waves-light" *ngIf = "emailSent"  mdbWavesEffect>Success message</a>
        </div>
        
   
        <a class="btn btn-danger waves-light" *ngIf = "!emailSent" mdbWavesEffect>Error message</a>
      </div>
    </div>
