<div class="jumbotron" >
    <h1 class="display-4">Search Jobs</h1>
  <div class="input-group mb-3">
    <input class="form-control" [(ngModel)]="searchText" (keyup.enter)= "onSearch()" name="searchText" type="search" placeholder="Enter Keywords Company Name or Skill to search for" aria-label="Search">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"  (click)="onSearch()" type="submit">Search</button>
    </div>
  </div>
  <div  *ngFor="let job of Jobs">
    <!-- Example row of columns -->

    <div class="card text-center">
      <div class="card-header">
        <strong>{{job.title}}</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title"> {{job.employer}}</h5>
        <p class="card-text">{{job.description}}</p>

        <a href="#" class="btn btn-primary" routerLink="/login">Apply</a>
      </div>
      <div class="card-footer text-muted">
        Posted - {{job.postedSince}} Expires on {{job.expiresOn}}
      </div>
    </div>

    <br>

  </div>
</div>