<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">What We Do!!!</h1>
      <p class="lead">The portal is designed for internal recruitment purpose more than a regular job portal. It will simplify the normal paper
        work to shortlist candidates and interview calling. The software is featured to filter candidates, inform them for
        interview, shortlist candidates, store large number of resumes according to server capacity and normal job portal features
        like candidates can apply for jobs from front end of the portal etc.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
    
  
  </div>