
<div class="view overlay z-depth-1-half ">
  <img src="./../../assets/images/bg.jpg" class=".img-fluid. max-width: 100%; height: auto;" alt="">
  <div class="mask rgba-white-light"></div>
</div>


<div class="jumbotron">
  <div class="col-sm-12">
    <h1 class="display-2">Here are some top technologies</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../../assets/images/angular.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angular Jobs</h5>
          <p class="card-text"></p>
          <a routerLink="/dashboard" class="btn btn-primary" (click) = "angularSearch()">Search</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../../assets/images/react.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">React Jobs.</h5>
          <p class="card-text"></p>
          <a routerLink="/dashboard" class="btn btn-primary" (click) ="reactSearch()">Search</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./../../assets/images/nodejs.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Node Js Jobs</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Search</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./../../assets/images/mongo.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mongo DB Jobs</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Search</a>
              </div>
            </div>
          </div>


  </div>
  <!--Second Row-->
</div>
<div class="jumbotron">
        <div class="col-sm-12">
          <h1 class="display-2">Some more technologies you may be interested in</h1>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./../../assets/images/java.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Java Jobs</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Search</a>
              </div>
            </div>
          </div>
      
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./../../assets/images/net.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">.Net Jobs.</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Search</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../assets/images/mysql.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">MySql</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Search</a>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../assets/images/ruby.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Ruby on Rails Jobs</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Search</a>
                    </div>
                  </div>
                </div>
      
      
        </div>
        <!--Second Row-->
      </div>
      