<!--Grid column-->
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 col-md-12">
    <div class="container">

      <form>
        <p class="h4 text-center mb-4">Sign up</p>

        <!-- Material input text -->
        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" [(ngModel)]="user.firstName" name="Name" id="UserName" class="form-control">
          <label for="UserName">Your name</label>
        </div>

        <!-- Material input email -->
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" [(ngModel)]="user.email" name="email" id="exampleInputEmail1" class="form-control">
          <label for="exampleInputEmail1">Your email</label>
        </div>

        <!-- Material input email -->
        <div class="md-form">
          <i class="fa fa-exclamation-triangle prefix grey-text"></i>
          <input type="email" id="materialFormRegisterConfirmEx" class="form-control">
          <label for="materialFormRegisterConfirmEx">Confirm your email</label>
        </div>

        <!-- Material input password -->
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" [(ngModel)]="user.password" name="password" id="materialFormRegisterPasswordEx" class="form-control">
          <label for="materialFormRegisterPasswordEx">Your password</label>
        </div>

        <div class="text-center mt-4">
          <button class="btn btn-primary" (click)="registerUser()" type="submit">Register</button>
        </div>
      </form>

    </div>
    <!-- Form contact -->
  </div>
  <div class="col-lg-4"></div>
</div>
<!--Grid column-->